.testimonial-img {
    min-height: 30rem;
}

@media (width < 1000px) {
    .single-testimonial-card {
        display: grid;
    }

    .testimonial-img {
        width: 100%;
        object-fit: cover;
        min-height: 10rem;
    }

    .testimonial-card-info {
        display: grid;
        gap: 2rem;
    }
}